<!DOCTYPE html>
<html lang="en">
<head><h1><u>Adding Users</u></h1>
  <title>NUST Book Loaning</title>
</head>
<style>
  p {
      border: 5px solid grey;
      padding: 10px;
  }
  form {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
  }
</style>
<body><pre>
<p><b>IT Library                                                                            John Doe(Username)</b></p>          
</pre>
<center><h2>Please enter user info</h2></center>
  <form action="action_page.php">
  <input type="text" name="fname" placeholder="Email Address"><br>
  <br>
  <input type="text" name="lname" placeholder="Full Name"><br>
  <br>
  <select name="Department">
    <option value="volvo">School of IT</option>
    <option value="saab">School of Engineering</option>
    <option value="fiat">School of Agriculture</option>
    <option value="audi">School of Sciences</option>
  </select><br>
  <br>
  <input type="password" name="psw" placeholder="Password"><br>
  <br>
  <input type="password" name="psw" placeholder="Retype Password"><br>
  <br>
  <input type="submit" value="Add User">
</form>


</body>
</html>