<!DOCTYPE html>
<html>
<body >
</div>
<h1></h1>
	<title>Booking Loaning</title>
<div style="width:100%">
<div>

</div>
<div style="background-color:#aaa; height:500px;width:150px;float:left;">
<br>
<br>
<br>
<br>

<div><b>Catalogue</b></div>
<br>
Books On Loan<br/>
<br>
Contact Us<br/>
</div>
<div style="background-color:#eee; height:500px;width:1000px;float:left;">
<center>
<h1><u>Rich Dad Poor Dad</u></h1>
<p>Author: Robert Kiyosaki</p>
<pre><p>ISBN: 0-446-67745-0          Year: 1997</p></pre></center>
<p>Rich Dad Poor Dad is a 1997 book written by Robert Kiyosaki and Sharon Lechter. It advocates the importance of financial independence and building wealth through investing, real estate investing, starting and owning businesses, as well as increasing one's financial intelligence to improve one's business and financial aptitude. Rich Dad Poor Dad is written in the style of a set of parables, ostensibly based on Kiyosaki's life.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<form>	
<center>
<input type="button" name="Loan" value="Loan Book" />
<input type="button" name="Return" value="Return Book" />
</center>
</form>
</div>
</body>
</html>