{% extends "base_two_columns.html" %}

{% load staticfiles %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block sidebar%}
<ul class="list-group">
  <a class="list-group-item" href="{% url 'books:book_list' %}">
  Catalogue
    <span class="badge">{{count}}</span>
  </a>
  <a class="list-group-item" href="/books/loan">
  Books on loan
    <span class="badge">{{lcount}}</span>
  </a>
  <a class="list-group-item" href="{% url 'about' %}">
  Contact Us
  </a>
</ul>
{% endblock sidebar%}

{% block content%}
<div class="well"><h1>{% include "_brandname.html" %}</h1>
          <p>Library book loaning system used within the Namibian University of Science and Technology faculties.</p>
    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a></div>
{% endblock content%}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

