<!DOCTYPE html>
<html>
<body>
</div>
<h1></h1>
	<title>Booking Loaning</title>
<div style="width:100%">
<div>

<div style="background-color:#aaa; height:500px;width:150px;float:left;">
<br>
<br>
<br>
<br>
<b>Catalogue</b>
<br>
Books On Loan<br/>
<br>
Add Book<br/>
<br>
Add User<br/>
<br>
Users<br/>
<br>
<br>
Contact Us<br/>

</div>

<div style="background-color:#eee; height:500px;width:1000px;float:left;">
<center>
<p><h4>Johny Cash</h4>
jcash@nust.na
<pre><p>Lecturer: Informatics</p></pre>
</center>
<br>
<br>
<br>
<center>
<p><h4>Ronald Bold</h4>
RBold@nust.na
<br>
<p>Lecturer: Computer Science</p></pre>
<pre><p>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<form>	
<center>
<input type="button" name="Loan" value="Loan Book" />
<input type="button" name="Return" value="Return Book" />
</center>
</form>
</div>
</body>
</html>