<!DOCTYPE html>
<html>
<head>
<title>Login page</title>
<h1><center>Please sign in</center></h1>
</head>
<style>
form {
   text-align: center;
   margin-left: auto;
   margin-left: center;
}
</style>
<body>
	<form action="demo_form.asp">
	<input type="text" name="eaddress" placeholder="Email address"><br/>
	<input type="text" name="pword" placeholder="Password"><br/>
        <input type="checkbox" name="user" value= " "> Remember me <br/>
	<input type="submit" id="sign in" value="Sign in"  style="height:25px; width:150px"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<hr/>
<center>
@ SET-IT 2016
</center>	
</form>
</body>
</html>

