<!DOCTYPE html>
<html>
<head>
<title>Secretary home page</title>
</head>
<body>
	<table width=10px border=2px>
	<tr>
	<td colspan=2px bgcolor="Grey">
	<pre><h2>IT Library					        		   			           John Doe{username}</h2><pre/>
</td>
</tr>
<tr valign="top">
<td bgcolor="Silver" width=60px>

<pre><h3>  Catalogue</h3><br/>
<h3>  Overdue Books  </h3> <br/>
<h3>  Books on loan</h3> <br/>
<h3>  Add Book</h3> <br/>
<h3>  Add User</h3> <br/>
<h3>  Users</h3> <br/>
<h3>  Stats</h3> <br/>
<h3>  Contact us</h3> <br/>
<pre/>
</td>
<td bgcolor="Silver" width=580px height=540px>
<pre><form action="demo_form.asp">
	<input type="text" name="search" placeholder="Search">   <select name="Department">
    <option value="SEARCH">Search By</option>
    <option value="TITLE">title</option>
    <option value="AUTHOR">author</option>
    <option value="ISBN">ISBN</option>
    <option value="All">all</option>
  </select>   <input type="submit" id="search" value="Search"  style="height:25px; width:150px"/> <br/><br/><br/><hr/>
</pre>
<pre> <img src="C:\Users\Jason\Pictures\Originals\20151109_220834.jpg" alt="Test Image" width="64" height="64"/><b> Title of Book				Edit</b>
	   Author name
	   ISBN     Year
<p> 	   Book descriptiondnbddddddddvssssssssssssssssssssssssssssssssssssssdffdsfdfdsvdscdscdscdsc
	   sadsadsadsadasdsadsadasdsadasdsadsfvfvfvscdfdcdscdscds</p>
</pre>

<pre> <img src="C:\Users\Jason\Pictures\Originals\20151109_220834.jpg" alt="Test Image" width="64" height="64"/><b> Title of Book				Edit</b>
	   Author name
	   ISBN     Year
<p> 	   Book descriptiondnbddddddddvssssssssssssssssssssssssssssssssssssssdffdsfdfdsvdscdscdscdsc
	   sadsadsadsadasdsadsadasdsadasdsadsfvfvfvscdfdcdscdscds</p>


		
</pre>



</table>
</body>
</html>