{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load utility_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block sidebar%}
{% endblock sidebar%}

{% block content %}
<div class="book_list">
        <div class="book panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ book_details.name}}</h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                  <img class="media-object img-thumbnail" src="{% thumbnail book_details.cover_image|default:'default_book.png' 140x140 crop %}" alt="Thumbnail of {{book_details.name}}">
                  <p> This book is <strong>{%if loan %}out{% else %}in{% endif %}</strong>.</p>
                  {%if loan %}
                  <a href="{% url 'books:returnin' book_details.id %}" class="btn btn-success">Return</a>
                  {% else%}
                  <a href="{% url 'books:loanout' book_details.id %}" class="btn btn-primary">Loan</a>
                  {% endif%}
                  
              </div>
              <div class="media-body">
                <div class="row">
                  <div class="col-xs-4">
                  {% if book_details.isbn_10 %}
                    ISBN 10: {{ book_details.isbn_10 }}
                  {%endif%}
                  {% if book_details.isbn_13 %}
                      ISBN 13: {{ book_details.isbn_13 }}
                  {%endif%}
                  {% if book_details.pages %}
                      <p>Pages: {{ book_details.pages }}</p>
                  {%endif%}
                  <p>Year of Publication: {{book_details.published}}</p>
                  <p>Edition: {{book_details.edition}}</p>
                  {% if book_details.date_added %}
                      <p>Added to Database on: {{ book_details.date_added }}</p>
                  {%endif%}

                  <!-- {% if book_details.avaible %}
                      <p class="text-primary">Available</p>
                  {% else%}
                        <p class="text-info">This book is Unavailable at this moment</p>
                  {%endif%} -->
                  </div>

                  <div class="col-xs-8">
                    {%for author in book_details.authors.all %}
                      {% if author %} 
                        Author: {{author |title }},
                            {% if author.email %} 
                              Email:{{ author.email |lower }}
                            {%endif%}
                      {% else %} 
                        Author(s) Unkown
                      {%endif%}
                    {% endfor %}

                      {% if book_details.publisher.first %} 
                        <p>Publisher: {{book_details.publisher.first|title }}</p>
                          {% if book_details.publisher.first.address %} 
                            <p>Address: {{book_details.publisher.first.address|title }}</p>
                          {%endif%}
                          {% if book_details.publisher.first.website %} 
                            <p>Website: <a href="{{book_details.publisher.first.website|lower}}">{{book_details.publisher.first.website|lower}}</a></p>
                          {%endif%}
                      {% else %} 
                        Publisher(s) Unkown
                      {%endif%}
                  </div>

                </div>
                <p>Description:
                {% if book_details.description %}
                    {{ book_details.description |linebreaks}}
                {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock content %}

<script src="{%static 'site/js/jquery.jscroll.min.js' %}"></script>
<script src="{% static 'site/js/list.js' %}"></script>
