{% extends "base.html" %}

{% block content %}
    <h2>Everything that's Out</h2>
    {% if loan_list %}    
        <ul>
        {% for loan in loan_list %}
            <li>
                <span class="title"><a href="/books/{{ loan.book.id }}">{{ loan.book }}</a> by {% for author in loan.book.authors.all %}
                        {{author}}
                    {%endfor%}</span>
                <span>, loaned to {{ loan.loaned_by.name }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nothing is out. You did all this work for nothing.</p>
    {% endif %}
{% endblock %}