{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}


{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="row">
<div class="col-xs-2">

  	<ul class="list-group sidebar-offcanvas" id="sidebar">
    <a class="list-group-item active" href="#">Cras justo odio<span class="badge">14</span>
    </a>
  <a class="list-group-item" href="#">Middle</a>
  <a class="list-group-item" href="#">Right</a>

</ul>
  </div>
  
    <div class="col-lg-8">
      <h2>IT FACULTY LIBRARY</h2>

	<ul>
	{% for book in recently_added.all %}
		<h1>{{ book.title |title}}</h1>
	    <li>{{ book.edition }}</li>
	    <li>{{ book.author |title}}</li>
	    <li>{{ book.year }}</li>
	    <li>{{ book.pages }}</li>
	    <li>{{ book.isbn_10 }}</li>
	    <li>{{ book.isbn_13 }}</li>
	    <li>{{ book.description }}</li>
	    <li><img src="{{ book.cover_image.url }}"></li>
	    <li>{{ book.date_added }}</li>
	{% endfor %}
	</ul>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}